<h1>Demo#index</h1>
<p>Hello World</p>

ID: <%= @ID %><br />
Next page: <%= @page + 1%><br />

<% target = "world" %>
<%= "Hello #{target}" %>

<% @array.each do |n| %>
	<%= n %><br />
	<% end %>
	
	<%= link_to("My first link",{:action => 'demo/index'}) %>
	
	<hr />
	
<%= params.inspect %>	